<h1>Sign Up Below:</h1>


<form action="/registrations" method="POST">
 <h2> Name: <input type="text" name="name" value="name" required>
<h2> Email: <input type="text" name="email" value="email" required>
<h2> Password: <input type="text" name="password" value="password" required>
<input type="submit" value="Sign Up">
</form>
